*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}
.header{
    background-color: #5a2e53;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;

    &__subtitle{
        font-size: 12px;
        letter-spacing: 2px;
        padding: 3.5em 0 1.5em 0
    }
    &__line{
        width: 120px;
        color: #fff;
    }

    &__title{
        padding: 0.5em 0 1.5em 0;
    }

    &__list{
        list-style-type: none;
        display: flex;
        
        
    }
    &__element{
        padding: 1em ;
        text-align: center;
    }
    &__link{
        text-decoration: none;
        color: #fff;
        transition: 0.5s ease;
        &:hover{
            color: #aaa;
            transition: 0.5s ease;
        }
    }
}

main{
    background-color: #e0dede;
    display: flex;
    justify-content: center;
    gap: 2em;
    padding: 1.5em;
}

.article{
    
    width: 300px;
    background-color: #fff;
    color: #aaa;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px 10px 0 0;
    padding: 0 0 2.5em 0;
    -webkit-box-shadow: 15px 20px 20px -20px rgba(66, 68, 90, 1);
    -moz-box-shadow: 15px 20px 20px -20px rgba(66, 68, 90, 1);
    box-shadow: 15px 20px 20px -20px rgba(66, 68, 90, 1);

    &__img{
       width: 100%; 
       border-radius: 10px 10px 0 0;       
    }

    &__subtitle{
        padding: 2em 0 1em 0;
    }
    
    &__line{
        width: 120px;
        color: #aaa;
    }

    &__title{
        color: #444;
        padding: 1em;
    }

    &__content{
        font-size: 12px;
        padding: 2em;
    }
    
    &__button{
        padding: 0.5em;
        background-color: transparent;
        border-radius: 10px;
        color: #aaa;    
        border: 1px solid #aaa;
        cursor: pointer;
        transition: 0.5s ease;
        &:hover{
            border: 1px solid #444;
            color: #444;
        }
    }
    
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("https://picsum.photos/id/249/1920/620");
    background-position-y: 200px;
    color: #fff;
    
    &__content{
        padding: 3em 0 1em 0;
        font-size: 12px;
        letter-spacing: 2px;
    }

    &__line{
        width: 300px;
        color: #fff;
    }
    &__autor{
        padding: 1em 0 1.5em 0;
    }  
}


